body {
  background-color: #FFF59D;
  color: #000000;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 50%;
}

td, th {
  text-align: left;
  padding: 8px;
}

.row {
  display: flex;
}

.flex-container {
  max-width: 100%;
  position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.flex-item {
  width: 60%;
}
