{% extends "data/dashboard_base.html" %}
	{% block content %}
		{% block data %}
		<div style="width:30%" class="row">
			<canvas id="inBytesDstPort" width="400" height="400"></canvas>
			<canvas id="outBytesDstPort" width="400" height="400"></canvas>
		</div>
		<div>
			<table class="table table-hover">
				<thead>
					<tr>
						<th colspan="9">Longest connections</th>
					</tr>
					<tr>
						<th>Connection start</th>
						<th>Connection end</th>
						<th>Source</th>
						<th>Source Port</th>
						<th>Destination</th>
						<th>Destination port</th>
						<th>Protocol</th>
						<th>Bytes sent</th>
						<th>Bytes recieved</th>
					</tr>
				</thead>
				<tbody>
					{% for index, row in nfdump_data['longest_connections'].iterrows() %}
						<tr>
							<td>{{ row['ts'] -}}</td>
							<td>{{ row['te'] -}}</td>
							<td>{{ row['sa'] -}}</td>
							<td>{{ row['sp'] -}}</td>
							<td>{{ row['da'] -}}</td>
							<td>{{ row['dp'] -}}</td>
							<td>{{ row['pr'] -}}</td>
							<td>{{ row['ibyt'] -}}</td>
							<td>{{ row['obyt'] -}}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
		<div>
			<table class="table table-hover">
				<thead>
					<tr>
						<th colspan="9">Connections with most data transfer</th>
					</tr>
					<tr>
						<th>Connection start</th>
						<th>Connection end</th>
						<th>Source</th>
						<th>Source Port</th>
						<th>Destination</th>
						<th>Destination port</th>
						<th>Protocol</th>
						<th>Bytes sent</th>
						<th>Bytes recieved</th>
					</tr>
				</thead>
				<tbody>
					{% for index, row in nfdump_data['busiest_connections'].iterrows() %}
						<tr>
							<td>{{ row['ts'] -}}</td>
							<td>{{ row['te'] -}}</td>
							<td>{{ row['sa'] -}}</td>
							<td>{{ row['sp'] -}}</td>
							<td>{{ row['da'] -}}</td>
							<td>{{ row['dp'] -}}</td>
							<td>{{ row['pr'] -}}</td>
							<td>{{ row['ibyt'] -}}</td>
							<td>{{ row['obyt'] -}}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
		{% endblock %}
	{% endblock %}
	{% block extra_js %}
		<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
		<script type='text/javascript' src="{{ url_for('static', filename='js/colour_generator.js') }}"></script>
		<script type='text/javascript' src="{{ url_for('static', filename='js/dst_port_graph.js') }}"></script>
		<script>
			// Call graph functions here
			dstPortGraph({{ nfdump_data['dst_port_traffic'] | safe }});
		</script>
	{% endblock %}
