{% extends "base.html" %}
	{% block content %}
		<nav class="navbar navbar-inverse navbar-fixed-bottom">
			<div class="container-fluid">
				<ul class="nav navbar-nav">
					<li><a href={{ url_for('sources_dashboard_page') }}>Sources</a></li>
					<li><a href={{ url_for('source_ports_dashboard_page') }}>Source Ports</a></li>
					<li><a href={{ url_for('destinations_dashboard_page') }}>Destinations</a></li>
					<li><a href={{ url_for('destination_ports_dashboard_page') }}>Destination Ports</a></li>
					<li><a href={{ url_for('monitor_ports') }}>Monitor Ports</a></li>
				</ul>
			</div>
		</nav>
		<p><input type="button" id="addRow" value="Add New Port" onclick="addRow();" class="btn btn-warning" /></p>
		<div id="portDiv">
			<table id="portTable" class="table table-hover">
				<thead>
				<tr>
					<th></th>
					<th>Connection Protocol</th>
					<th>Port Number</th>
				</tr>
				</thead>
				<tbody>
					{% if monitored_ports is not none and monitored_ports|length %}
						{% for proto, port in monitored_ports %}
							<tr>
								<td><input type="button" value="Remove" onclick="deleteRow(this)" class="btn btn-warning" /></td>
								<td>
									<select name="portOptions">
										{% for def_proto in ['TCP', 'UDP', 'ICMP', 'IGMP'] %}
											{% if proto == def_proto %}
												<option value="{{ def_proto }}" selected="selected">{{ def_proto }}</option>
											{% else %}
												<option value="{{ def_proto }}">{{ def_proto }}</option>
											{% endif %}
										{% endfor %}
									</select>
								</td>
								<td><input type="number" class="form-control" value="{{ port }}" /></td>
							</tr>
						{% endfor %}
					{% endif %}
				</tbody>
			</table>
		</div>
		<form name="portForm" method="POST" onsubmit="portSubmit();">
			<input type="hidden" name="ports" />
			<p><input type="submit" class="btn btn-warning" /></p>
		</form>
	{% endblock %}
	{% block extra_js %}
		<script type='text/javascript' src="{{ url_for('static', filename='js/monitorPortsForm.js') }}"></script>
	{% endblock %}
